h1 {
  margin-bottom: 5px;
}

.header {
  display: flex;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.big-blue {
  color: #61dafb;
}

.prestations thead {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #61dafb;
}

.category-row {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-style: italic;
  font-weight: 400;
}

.prestation-row:nth-child(even) {
  background: #F3FCFE
}

.prestations-designation {
  max-width: 300px;
}

.prestations-description {
  max-width: 500px;
}

.prestations-center {
  text-align: center;
}