h1 {
  margin-left: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin-left: 200px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

/* .big-blue {
  color: #61dafb;
} */

.prestations thead {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: #fff;
  background-color: #000;
}

.category-row {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-style: italic;

}

.total-row {
  text-align: right;
}

.prestation-row:nth-child(even) {
  background: #FAFAFA
}

.prestations-designation {
  max-width: 300px;
}

.prestations-description {
  max-width: 500px;
}

.prestations-center {
  text-align: center;
}

.rotate90 {
  transform: rotate(90deg);
  max-width: 2px;
  margin-left: 15px;
}

.rotate-90 {
  transform: rotate(-90deg);
  max-width: 2px;
  margin-left: 15px;
  position: relative;
  top: 3px;
  left: -1px;
}

.show-presta-button {
  display: flex;
  cursor: pointer;
  margin-left: 600px;

}

.show-presta-button:hover {
  color: #61dafb;
}


.total {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin-left: 200px;
}